{% macro destroy_button(action, text) %}
  <form method="post" action="{{action}}" style="display: inline-block;">
    <button type="submit" class="btn btn-danger">{{text|default('Poista')}}</button>
  </form>
{% endmacro %}

{% macro destroy_label(action, text) %}
  <form method="post" action="{{action}}" style="display: inline-block;">
    <button type="submit" class="btn btn-danger btn-sm">{{text|default('Poista')}}</button>
  </form>
{% endmacro %}

{% macro errortext(errors) %}
  <div class="alert alert-danger">
    <ul>
      {% for error in errors %}
        <li>{{error}}</li>
      {% endfor %}
    </ul>
  </div>
{% endmacro %}

{% macro messagetext(message) %}
  <div class="alert alert-danger">
    {{message}}
  </div>
{% endmacro %}

{% macro eventform(action, text, attributes, groups) %}
  <form method="post" action="{{action}}">
    <div class="form-group">
      <label>Päivämäärä</label>
      <input name="day" class="form-control" value="{{attributes.eventday}}" type="date">
    </div>

    <div class="form-group">
      <label>Kellonaika</label>
      <input name="time" class="form-control" value="{{attributes.eventtime}}" type="time">
    </div>

    <div class="form-group">
      <label>Kuvaus</label>
      <textarea name="description" class="form-control">{{attributes.description}}</textarea>
    </div>

    <div class="form-group">
      <label>Ryhmä</label>
      <select name="group" class="form-control">
        <option value="null">-</option>
        {% for group in groups %}
          {% if group.id == attributes.group.id %}
            <option value={{group.id}} selected>{{group.name}}</option>
          {% else %}
            <option value={{group.id}}>{{group.name}}</option>
          {% endif %}
        {% endfor %}
      </select>

    <div class="form-group">
      <button type="submit" class="btn btn-primary">{{text}}</button>
    </div>
  </form>
{% endmacro %}

{% macro groupform(action, text, attributes) %}
  <form method="post" action={{action}}>
    <div class="form-group">
      <label>Nimi</label>
      <input name="name" class="form-control" type="text" value="{{attributes.name}}">
    </div>

    <div class="form-group">
      <label>Kuvaus</label>
      <textarea name="description" class="form-control">{{attributes.description}}</textarea>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary">{{text}}</button>
    </div>
  </form>
{% endmacro %}
