{% extends "base.html" %}
{% block content %}
  <h1>Kalenteri</h1>

  <h3>helmikuu</h3>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>ma</th>
        <th>ti</th>
        <th>ke</th>
        <th>to</th>
        <th>pe</th>
        <th>la</th>
        <th>su</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
        <td>6</td>
        <td>7</td>
      </tr>
      <tr>
        <td>8</td>
        <td>9</td>
        <td><a href="asdasd.html">10</a>
        <td>11</td>
        <td>12</td>
        <td>jne.</td>
      </tr>
    </tbody>
  </table>
{% endblock %}
