{% extends "base.html" %}
{% block content %}
  {% if message %}
    <div class="alert alert-success">
      {{message}}
    </div>
  {% endif %}

  <h3>{{event.eventday}} {{event.eventtime}}</h3>

  <p>
    {{event.description}}
  </p>

  <a href="{{base_path}}/event/{{event.id}}/edit" class="btn btn-primary" role="button">Muokkaa</a>
  <form method="post" action="{{base_path}}/event/{{event.id}}/destroy" style="display: inline-block;">
    <button type="submit" class="btn btn-danger">Poista</button>
  </form>
{% endblock %}
