{% extends "base.html" %}
{% import "macros/forms.html" as forms %}
{% block content %}
  {% if message %}
    {{forms.messagetext(message)}}
  {% endif %}

  <h2>{{date}}</h2>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Kellonaika</th>
        <th>Kuvaus</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for event in events %}
        <tr>
          <td>{{event.eventtime}}</td>
          <td>{{event.description}}</td>
          <td align="right">
            {% if event.user == user_logged_in %}
              <a class="btn btn-default btn-sm" href="{{base_path}}/event/{{event.id}}/edit">Muokkaa</a>
              {{forms.destroy_label("#{base_path}/event/#{event.id}/destroy")}}
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
