{% extends "base.html" %}
{% block content %}
  {% if error %}
    <div class="alert alert-danger">
      {{error}}
    </div>
  {% endif %}

  {% if message %}
    <div class="alert alert-danger">
      {{message}}
    </div>
  {% endif %}

  <h2>Kirjaudu sisään</h2>

  <form method="post" action="{{base_path}}/login">
    <div class="form-group">
      <label>Nimi:</label>
      <input name="name" class="form-control" type="text">
    </div>

    <div class="form-group">
      <label>Salasana:</label>
      <input name="password" class="form-control" type="password">
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Kirjaudu</button>
    </div>
  </form>
{% endblock %}
