{% extends "base.html" %}
{% import "macros/forms.html" as forms %}
{% block content %}
  {% if message %}
    {{forms.messagetext(message)}}
  {% endif %}

  <h2>Ryhmät</h2>

  <table class="table table-bordered">
    <tbody>
      {% for group in groups %}
        <tr>
          <td><a href="{{base_path}}/group/{{group.id}}">{{group.name}}</a></td>
          {% if not user_logged_in.in_group(group) %}
            <td>
              <form method="post" action="{{base_path}}/group/{{group.id}}/join">
                <button type="submit" class="btn btn-primary btn-sm">Liity</button>
              </form>
            </td>
          {% else %}
            <td>{{forms.destroy_label("#{base_path}/group/#{group.id}/leave", "Lähde")}}</td>
            <!--<td>{{forms.destroy_label("#{base_path}/group/#{group.id}/destroy")}}</td>-->
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <p>
    <a href="{{base_path}}/group/new" class="btn btn-primary">Uusi ryhmä</a>
  </p>
{% endblock %}
