{% extends "base.html" %}
{% import "macros/forms.html" as forms %}
{% block content %}
  {% if message %}
    {{forms.messagetext(message)}}
  {% endif %}

  <h3>{{group.name}}</h3>

  <p>
    {{group.description}}
  </p>

  <h4>Jäsenet</h4>

  <ul class="list-group">
    {% for member in group.members %}
      <li class="list-group-item">{{member.name}}</li>
    {% endfor %}
  </ul>

  <!-- <a href="{{base_path}}/group/{{group.id}}/edit" class="btn btn-primary" role="button">Muokkaa</a> -->
  {% if user_logged_in.in_group(group) %}
    <a href="{{base_path}}/group/{{group.id}}/edit" class="btn btn-default" role="button">Muokkaa</a>
    {{forms.destroy_button("#{base_path}/group/#{group.id}/leave", "Lähde")}}
  {% else %}
    <form method="post" action="{{base_path}}/group/{{group.id}}/join">
      <button type="submit" class="btn btn-primary">Liity</button>
    </form>
  {% endif %}
{% endblock %}
